################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MythosBot/obj/MythosBot.csproj.nuget.dgspec.json
/MythosBot/obj/MythosBot.csproj.nuget.g.props
/MythosBot/obj/project.assets.json
/MythosBot/obj/project.nuget.cache
MythosBot/config.json
MythosBot/Database/1362777577449721876/638837027802423845.json
MythosBot/MythosBot.jpg
