################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MythosBot/obj/MythosBot.csproj.nuget.dgspec.json
/MythosBot/obj/MythosBot.csproj.nuget.g.props
/MythosBot/obj/project.assets.json
/MythosBot/obj/project.nuget.cache
